services:
  db:
    image: pgvector/pgvector:pg17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: eemee
      POSTGRES_PASSWORD: eemee
      POSTGRES_DB: eemee
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
