services:
  db:
    image: pgvector/pgvector:pg17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: semleaf
      POSTGRES_PASSWORD: semleaf
      POSTGRES_DB: semleaf
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
